.parent {
    border: solid black 2px;
    background-color: rgb(222, 58, 8);
}

table {
    border: solid black 2px;
}

th {
    border: solid black 2px;
    color: yellow;
}

td {
    border: solid black 2px;
    color: white;
}